:root{
    font-size: 17px;
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }
  
  body{
    color:black;
    background-color: #FFFDF5;
    margin: 0;
    padding: 0;
  }
  
  .main {
    display: flex;
    width: 100vw;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5rem 0rem;
    gap: 1rem;
  }
  .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    width: 45rem;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.614);
    border: 1px solid #b8938b;
    border-radius: 15px;
  }
  .photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
    width: 45rem;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.614);
    border: 1px solid #b8938b;
    border-radius: 15px;
  }
  .info{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .photo img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
  .switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  .settingBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 8rem;
    border-radius: 15px;
    border: none;
    background-color: #b8938b;
    color: white;
  }
  .settingBtn:hover{
    background-color: rgb(149, 92, 92);
  }
  .settingBtn:active{
    background-color: rgb(100, 80, 80);
  }
  .logoutBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    max-width: 80%;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: #C91432;
    color: white;
  }
  .logoutBtn:hover{
    background-color: rgb(246, 99, 99);
  }
  .logoutBtn:active{
    background-color: rgb(154, 73, 73);
  }
  
  .navbar {
    width: 12rem;
    height: 100vh;
    position: fixed;
    background-color: #fffdf5;
    border-right: 1px solid #b8938b;
  }
  
  .nav-list {
    list-style: none;
    padding: 0 1.2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-link:hover {
    color: #b6845c;
  }
  
  .nav-link:active {
    color: #e2ad83;
  }
  
  .nav-link {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    height: 4rem;
    color: #7f4b23;
  }
  
  body.modal-open {
    overflow: hidden;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 95%;
    height: 400px;
    overflow-y: auto;
  }
  #usernameModal{
    height: 200px;
  }
  #passwordModal{
    height: 450px;
  }
  #deactivateModal{
    width: 600px;
  }
  .error{
    color: red;
    font-size: 11px;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #usernameModal .modal-header{
    border-bottom: 1px solid black;
  }
  #passwordModal .modal-header{
    border-bottom: 1px solid black;
  }
  #deactivateModal .modal-header{
    padding: 5px 15px;
    justify-content: flex-end;
  }
  #deactivateModal .modal-header button{
    font-size: 3rem;
    font-weight: 200;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  .modal-body form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #deactivateModal .modal-body{
    font-size: 20px;
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  #deactivateModal .modal-body div{
    display: flex;
    gap: 1rem;
  }
  #deactivateModal .modal-body div button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 8rem;
    border-radius: 15px;
    border: none;
  }
  .deactivateBtn{
    background-color: #C91432;;
    color: white;
  }
  .deactivateBtn:hover{
    background-color: rgb(246, 99, 99);
  }
  .deactivateBtn:active{
    background-color: rgb(154, 73, 73);
  }
  .cancelBtn{
    background-color: #6f6f6f;
    color: white;
  }
  .cancelBtn:hover{
    background-color: rgb(146, 146, 146);
  }
  .cancelBtn:active{
    background-color: rgb(46, 46, 46);
  }

  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  *::-webkit-scrollbar-track {
      background-color: rgba(217, 217, 217, 0.505);
  }
  
  *::-webkit-scrollbar {
      width: 10px;
      background-color: rgba(217, 217, 217, 0.505);
      border-radius: 30px;
  }
  
  *::-webkit-scrollbar-thumb {
      background-color: #B8938B;
      border-radius: 20px;
  }
  
  @media only screen and (max-width: 1300px) {
    .navbar {
      width: 4rem;
    }
  
    .nav-link p {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1000px) {
  
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 4rem;
      border-top: 2px solid #b8938b;
    }
  
    .nav-list {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    .nav-link p {
      display: none;
    }
  
    .modal{
      height: 500px;
    }
  }
  